<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres List</title>
</head>



<body>

    <h1>Drama Movies</h1>
    <li> {{ drama }} </li>

    <h1>Shuffled Drama Movies</h1>
    <li> {{ dramaMix }} </li>

    <h1>Comedy and Animation</h1>
    <li> {{ comedy_animation }} </li>
    <h1> {{ comedy }} </h1>

    <h1>Action, Thiller, Horror</h1>
    <li> {{ action_thriller_horror }} </li>

    <h1>Sci-Fi and Fantasy</h1>
    <li> {{ science_fiction_fantasy }} </li>

    <h1>Blockbuster</h1>
    <li> {{ blockbuster }} </li>

    <h1>Wildcard</h1>
    <li> {{ wildcard }} </li>

    <form action="/player_boards">
        <button onclick="myFunction()">Click me</button>
    </form>

</body>
</html>