<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <h1>Play Game</h1>
    <p>Year Chosen: {{ year_chosen }}</p>
    <p>Current Player: {{ current_player }}</p>
    <p>Game Status: (Add your game status here)</p>

    <!-- Add any additional game-related information or status messages here -->

    <script src="static/script.js"></script>
</body>

</html>