<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yellowjackets</title>
    <link rel="stylesheet" href="static/styles.css" href="https://fonts.googleapis.com/css?family=Font+Name">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
</head>
<body>

    <div class="orderOfPlayersAll"> 
        <div class="orderOfPlayers"> 
            <p> Player Order Is</p>
            {% for player_data in players_data %}
                <h2>{{ player_data['name'] }}</h2>
            {% endfor %}
        </div>
        

        <button class="start-button start-button-playerOrder"> START GAME </button>
        
    </div>
    <script src="static/script.js"></script>
</body>
</html>
